<launch>
    <arg name="pathToCommonRoad"/>
    <arg name="pathToOpenDrive" default="$(env HOME)/scenario_sim_ws/src/sim_resources/map/UAS_Augsburg_CampusBrunnenlech_signalized.xodr"/>
    
    <param name="pathToCommonRoad" value="$(arg pathToCommonRoad)"/>
    <param name="pathToOpenDrive" value="$(arg pathToOpenDrive)"/>
    
    <!-- topic interface -->
    <!-- <node pkg="commonroad_evaluator" type="evaluator.py" name="evaluator" output="screen" required="true"/> -->
    <node pkg="commonroad_sim" type="commonroad_sim_node" name="sim" output="screen" required="true"/>
    <include file="$(find commonroad_objects)/launch/commonroad_objects.launch">
        <arg name="pathToCommonRoad" value="$(arg pathToCommonRoad)"/>
    </include>
    <include file="$(find commonroad_goal)/launch/commonroad_goal.launch"/>
    <!-- <include file="$(find opendrive_visualize)/launch/opendrive_visualize.launch"/> -->
    <!-- tf broadcaster -->
    <node pkg="tf_broadcaster" type="tf_broadcaster_node" name="tf_broadcaster" />
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find commonroad_sim)/config/commonroad.rviz" /> -->

    <include file="$(find vehicle_launch)/launch/ci_driving.launch">
        <!-- <arg name="mapSource" 	value="6"/> -->
        <arg name="opendriveFilePath" value="$(arg pathToOpenDrive)"/>
    </include>

    <!-- <include file="$(find vehicle_launch)/launch/motion_planning.launch"/> -->
</launch>