<launch>
  <arg name="opendriveFilePath" default=""/>

  <!-- Object Tracking -->
  <include file="$(find scenario_objects)/launch/kf_tracker.launch">
  </include>
  
  <!-- Mission Planning -->
  <arg name="enableStopSignBehavior" 		default="true" />	
  <include file="$(find scenario_sim)/launch/mission_planning_freespace.launch">
    <arg name="maxVelocity" 				default="1.0" /> 
  	<arg name="enableSwerving" 				default="true"  />
    <arg name="enableStopSignBehavior" 		default="$(arg enableStopSignBehavior)" />
    <arg name="openDriveMap" 					value="$(arg opendriveFilePath)" />
  </include>

  <!-- Motion Planning -->
  <include file="$(find scenario_sim)/launch/motion_planning.launch">
    <arg name="steerAngleGainKP" 			default="1.0"/>
    <arg name="steerAngleGainKI" 			default="0.0"/>
    <arg name="steerAngleGainKD" 			default="0.5"/>

    <arg name="accelGainKP" 				default="10"/>
    <arg name="accelGainKI" 				default="2"/>
    <arg name="accelGainKD" 				default="0.0"/>
	
    <arg name="brakeGainKP" 				default="10"/>
    <arg name="brakeGainKI" 				default="2.0"/>
    <arg name="brakeGainKD" 				default="0.0"/> 
  </include>

  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find scenario_sim)/config/op_viz.rviz" /> -->

</launch>
