<launch>
    <arg name="accelGainKP" default="8.0"/>
    <arg name="accelGainKI" default="0.5"/>
    <arg name="accelGainKD" default="0.0"/>

    <arg name="steerGainKP" default="8.0"/>
    <arg name="steerGainKI" default="0.0"/>
    <arg name="steerGainKD" default="7.0"/>

    <arg name="pathToScenario"/>
    <arg name="pathToOpenDrive" default="$(env HOME)/ros_scenario_simulation/src/sim_resources/map/MCubeTestMap.xodr"/>
    <arg name="pathForReport"/>  

    <param name="pathForReport" value="$(arg pathForReport)"/>
    <param name="pathToScenario" value="$(arg pathToScenario)"/>
    <param name="pathToOpenDrive" value="$(arg pathToOpenDrive)"/>

    <param name="accelGainKP" value="$(arg accelGainKP)"/>
    <param name="accelGainKI" value="$(arg accelGainKI)"/>
    <param name="accelGainKD" value="$(arg accelGainKD)"/>

    <param name="steerGainKP" value="$(arg steerGainKP)"/>
    <param name="steerGainKI" value="$(arg steerGainKI)"/>
    <param name="steerGainKD" value="$(arg steerGainKD)"/>
    
    <!-- topic interface -->
    <include file="$(find scenario_evaluator)/launch/evaluator.launch">
        <arg name="pathToScenario" value="$(arg pathToScenario)"/>
        <arg name="pathForReport" value="$(arg pathForReport)"/>
    </include>

    <node pkg="scenario_sim" type="scenario_sim_node" name="sim_core" output="screen" required="true"/>

    <include file="$(find scenario_objects)/launch/scenario_objects.launch">
        <arg name="pathToScenario" value="$(arg pathToScenario)"/>
    </include>

    

    <include file="$(find scenario_goal)/launch/scenario_goal.launch"/>

    <node pkg="tf_broadcaster" type="tf_broadcaster_node" name="tf_broadcaster" />

    <!-- ROS-Nodes for freespace generation -->
    <include file="$(find path_to_freespace_converter)/launch/path_to_freespace_converter.launch">
    </include>
    <include file="$(find freespace_visualizer)/launch/freespace_visualizer.launch">
    </include>
    <include file="$(find freespace_goal)/launch/freespace_goal.launch">
    </include>


    <include file="$(find scenario_sim)/launch/ci_driving.launch">
        <arg name="opendriveFilePath" value="$(arg pathToOpenDrive)"/>
    </include>

</launch>