
<launch>
  <arg name="pathToScenario"/>
  <arg name="pathForReport"/>
  
 
  <param name="pathToScenario" value="$(arg pathToScenario)"/>
  <param name="pathForReport" value="$(arg pathForReport)"/>
  <!-- topic interface -->
  <node pkg="scenario_evaluator" type="evaluator.py" name="sim_evaluator" output="screen" required="true"/>
</launch>
